body {
    background-color: #F6E5DC;
}
header {
    text-align: center;
    background-color: #2F180C;
    height: 60px;
    text-decoration-color: khaki;
}
#pierwszy {
    width: 60%;
}
#obraz {
    height: 350px;
}
aside {
 width: 40%;
 margin: 70px;
 text-size-adjust: 150%;
}
li {
    text-align: center;
}

#drugi {
    text-align: center;
    background-color: #D0B6A8;
    padding: 30px;
}
button {
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    text-decoration-color: khaki;
}
footer {
    text-align: center;
    background-color: #2F180C;
    text-decoration-color: khaki;
    height: 60px;
}